  <div class="row">
    <div class="col-md-12 dialog-container">
        <div style=" background-color:  #0e6cc9; color:white" class="mat-dialog-header p-3 d-flex justify-content-between align-items-center border-bottom">
        <h5 class="mb-0">
          {{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }} Libro
        </h5>
        <button mat-icon-button (click)="dialog.closeAll()">
          <mat-icon style="color: white;">close</mat-icon>
        </button>
      </div>
    <mat-card >
      <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label >Titulo del libro</mat-label>
                  <input required  matInput [(ngModel)]="title">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label >isbn</mat-label>
                  <input required  matInput [(ngModel)]="isbn">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label >editorial</mat-label>
                  <input required  matInput [(ngModel)]="editorial">
                </mat-form-field>
            </div>
             <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label >Año</mat-label>
                  <input required  matInput [(ngModel)]="year">
                </mat-form-field>
            </div>
            <div class="col-md-6">
            <mat-form-field class="w-100">
            <mat-label>Sinopsis</mat-label>
             <textarea
             matInput
             required
             rows="4"
             [(ngModel)]="sinopsis">
            </textarea>
            </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Autor</mat-label>
                <mat-select required  [(ngModel)]="autorSeleccionado">
                   <mat-option *ngFor="let autor of autores" [value]="autor.id">
                        {{ autor.name }}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Estado</mat-label>
                <mat-select required [(ngModel)]="estadoSeleccionado">
                    <mat-option value="activo">Activo</mat-option>
                    <mat-option value="inactivo">Inactivo</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
 <div 
  class="dropzone"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  [class.dragover]="isDragOver"
  (click)="fileInput.click()"
>

  <!-- MENSAJE SI NO HAY ARCHIVO -->
  <p *ngIf="!selectedFile && !archivoUrl">
    Arrastra tu PDF aquí o haz clic para subir
  </p>

  <!-- VISTA PREVIA DEL ARCHIVO EXISTENTE (URL DEL BACKEND) -->
  <div *ngIf="archivoUrl && !selectedFile" class="file-preview">
    <span>{{ archivoUrl | slice:-30 }}</span>

    <button class="btn-remove" (click)="removeFile($event)">✕</button>
  </div>

  <!-- VISTA PREVIA DEL ARCHIVO NUEVO -->
  <div *ngIf="selectedFile" class="file-preview">
    <span>{{ selectedFile.name }}</span>

    <button class="btn-remove" (click)="removeFile($event)">✕</button>
  </div>

  <!-- INPUT REAL OCULTO -->
  <input 
    #fileInput
    type="file" 
    (change)="onFileSelected($event)"
    accept="application/pdf"
    style="display:none"
  />

</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card-actions class="p-3 border-top d-flex justify-content-end" >
        <button class="me-4" mat-flat-button (click)="ActualizarOregistrarItinerario()"> {{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }}</button>
        <button mat-stroked-button (click)="dialog.closeAll()" >Cancelar</button>
    </mat-card-actions>
    </div>
  </div>
