.login-container {
  .left-side1 {
    background-color: #ababa5ed; /* beige */
    color: #333;
    text-align: center;
    padding: 2rem;
  }


  .right-side {
    background-color: #1163b6;
  }

  .card {
    border-radius: 12px;
  }

  .lt-bienvenida{
    color: #333;
  }
}
.card img {
  transition: transform 0.3s ease; /* Animación suave */
}

.card:hover img {
  transform: scale(1.2); /* Aumenta el tamaño del ícono */
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* (Opcional) Hace que la tarjeta también crezca un poco */
}
