<div class="container mt-5">
  <h2 style="color: white;">Biblioteca Virtual </h2>
  <div class="row mt-4">
      <div class="col-md-4">
        <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irALibros()" >
        <img src="assets/menu-libro.png" 
         alt="Itinerario" 
         style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
        <h5 class="mt-3">Libros</h5>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irAGestion()" >
        <img src="assets/menu-gestion.png" 
         alt="gestion" 
         style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
        <h5 class="mt-3">Gestión</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irAConfigurarLibros()" >
        <img src="assets/menu-conf-libros.png" 
         alt="usuario" 
         style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
        <h5 class="mt-3">Configurar Libros</h5>
        </div>
      </div>
     
      <div class="col-md-4">
        <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irUsuarios()" >
        <img src="assets/menu-usuario.png" 
         alt="usuario" 
         style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
        <h5 class="mt-3">Configurar usuarios</h5>
        </div>
      </div>

<div class="col-md-4 mt-5">
  <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irEstudiantes()" >
    <img src="assets/menu-estudiante.png" 
     alt="estudiante" 
     style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
    <h5 class="mt-3">Configurar estudiantes</h5>
 </div>
</div>
<div class="col-md-4 mt-5">
  <div class="card p-4 shadow-sm text-center" style="cursor: pointer;"  (click)="irAutor()" >
    <img src="assets/menu-autor.png" 
     alt="autor" 
     style="max-height: 100px; width: auto; display: block; margin: 0 auto;">
    <h5 class="mt-3">Configurar Autores</h5>
 </div>
</div>
</div>
</div>

