<div class="row">
    <div class="col-md-12 dialog-container">
        <div style=" background-color:  #0e6cc9; color:white" class="mat-dialog-header p-3 d-flex justify-content-between align-items-center border-bottom">
        <h5 class="mb-0">
          {{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }} Usuario
        </h5>
        <button mat-icon-button (click)="dialog.closeAll()">
          <mat-icon style="color: white;">close</mat-icon>
        </button>
      </div>
    <mat-card >
      <mat-card-content>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label>Nombre completo</mat-label>
                  <input required matInput [(ngModel)]="name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label>Cédula de Identidad</mat-label>
                  <input required matInput [(ngModel)]="ci">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label>Email</mat-label>
                  <input required type="email" matInput [(ngModel)]="email">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100" >
                <mat-label>Contraseña</mat-label>
                  <input required type="password" matInput [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Estado</mat-label>
                <mat-select required [(ngModel)]="type">
                    <mat-option value="activo">Activo</mat-option>
                    <mat-option value="inactivo">Inactivo</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
             <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Tipo de Usuario</mat-label>
                <mat-select required [(ngModel)]="typeperfil">
                    <mat-option value="administrador">Administrador</mat-option>
                    <mat-option value="estudiante">Estudiante</mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            
        </div>
        
      </mat-card-content>
    </mat-card>
    <mat-card-actions class="p-3 border-top d-flex justify-content-end" >
        <button class="me-4" mat-flat-button (click)="ActualizarOregistrarUsuario()"> 
          {{ data.modo === 'agregar' ? 'Agregar' : 'Actualizar' }}
        </button>
        <button mat-stroked-button (click)="dialog.closeAll()">Cancelar</button>
    </mat-card-actions>
    </div>
</div>